/*
Template:   This file is specific for PRESTASHOP v1.6 projects of IT Maniax
Info:       This file will contain frontend media queries
Web:        http://www.itmaniax.com
*/
/*------------------------------------------------*/
/*-----------------[MEDIA QUERIES]----------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*-----------------[    0 - 1919    ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1919px){
    body
    {
        background: peru;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 1599    ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1599px){
    body
    {
        background: lightcoral;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 1359    ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1359px){
    body
    {
        background: lightblue;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 1199     ]-------------*/
/*------------------ Bootstrap MD ----------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1199px){
    body
    {
        background: magenta;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 1079    ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1079px){
    body
    {
        background: lightgreen;
    }
}

/*------------------------------------------------*/
/*-----------------[    0 - 991     ]-------------*/
/*------------------ Bootstrap SM ----------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 991px){
    body
    {
        background: cyan;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 879     ]-------------*/
/*-------------------             ----------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 879px){
    body
    {
        background: lightseagreen;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 767     ]-------------*/
/*------------------ Bootstrap XS ----------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 767px){
    body
    {
        background: violet;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 719     ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 719px){
    body
    {
        background: brown;
    }

}
/*------------------------------------------------*/
/*-----------------[    0 - 639     ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 639px){
    body
    {
        background: pink;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 559     ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 559px){
    body
    {
        background: yellow;
    }

}
/*------------------------------------------------*/
/*-----------------[    0 - 479     ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 479px){
    body
    {
        background: blue;
    }

}
/*------------------------------------------------*/
/*-----------------[    0 - 399     ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 399px){
    body
    {
        background: orange;
    }

}
/*------------------------------------------------*/
/*-----------------[    0 - 359     ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 359px){
    body
    {
        background: green;
    }

}
/*------------------------------------------------*/
/*-----------------[    0 - 319     ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 319px){
    body
    {
        background: red;
    }

}
/*------------------------------------------------*/
/*-------------------[THE END]--------------------*/
/*------------------------------------------------*/